<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.markov-tumblr</string>
	<key>ProgramArguments</key>
	<array>
    <string>/usr/local/bin/lein</string>
    <string>with-profile</string>
    <string>tumblr</string>
    <string>run</string>
    <string>input/scrumdiddlyumptious-clojure-state-length-3.edn</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>10</integer>
	</dict>
	<key>WorkingDirectory</key>
  <string>/Users/davidhamp-gonsalves/repos/markov-cloj/</string>
</dict>
</plist>
